body {
    text-align: center;
    background: chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.featured-image {
    max-width: 300px;
    height: auto;
}

.goatcontainer {
    background: green;
    padding-left: 10px;
    padding-right: 10px;
}

#goats {
    background: green;
    margin: 5px;
    border-radius: 5px;
}

#goats>div {
    padding: 5px;
    margin: 5px;
}

.header {
    background: green;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    button {
        width: 100px;
        height: 40px;
    }
    select {
        width: 100px;
        height: 40px;
    }
}